@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Fascinate+Inline&family=Knewave&family=Permanent+Marker&family=Rubik+Distressed&family=Rubik+Spray+Paint&family=Share+Tech&family=Tektur:wght@400..900&display=swap");

.greeting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  h2 {
    color: var(--primary);
    margin: 0;
    font-size: 42px;
    font-family: "Permanent Marker", cursive;
    cursor: pointer;
  }
  p {
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    span {
      color: var(--auth-input-focus);
      font-style: italic;
      text-decoration: underline;
      font-weight: bold;
    }
    @media screen and (max-width: 360px) {
      font-size: 13px;
    }
  }
}
