<div class="user-info">
  <div class="info">
    <div class="avatar">
      <img
        [src]="env.storageUrl + userData?.profilePhotoUrl || 'assets/icons/profile.png'"
        alt=""
      />
    </div>
    <div class="names">
      <h2>{{userData?.firstName + " " + userData?.lastName}}</h2>
      <div class="params">
        <lucide-icon name="at-sign" [size]="17"></lucide-icon>
        <p>{{userData?.userName}}</p>
      </div>
      @if (userData?.country !== null || userData?.city !== null) {
      <div class="params">
        <lucide-icon name="map-pin" [size]="17"></lucide-icon>
        <p>{{userData?.country + ',' + ' '+ userData?.city}}</p>
      </div>
      }
      <div class="params">
        <lucide-icon name="calendar" [size]="17"></lucide-icon>
        <p>Joined: {{userData?.registerDate | date: "MMMM yyyy"}}</p>
      </div>
    </div>
  </div>
  <div class="btns">
    @if (userData?.id !== currentUserId) {
    <div class="follow btn">
      <lucide-icon name="user-plus" [size]="16"></lucide-icon>
      <p>Follow</p>
    </div>
    <div class="message btn">
      <lucide-icon name="message-circle" [size]="16"></lucide-icon>
      <p>Message</p>
    </div>
    } @if (userData?.id == currentUserId) {
    <div class="settings btn" #settingsWrapper (click)="toggleSettingsMenu()">
      <lucide-icon name="cog" [size]="22"></lucide-icon>

      <div class="settings-menu user-select-none" [class.active]="settingsMenu">
        <div class="menu-item" routerLink="/settings">
          <lucide-icon name="user-pen" [size]="17"></lucide-icon>
          <p>Edit Profile</p>
        </div>
        <div class="menu-item">
          <lucide-icon name="share-2" [size]="17"></lucide-icon>
          <p>Share Profile</p>
        </div>
        <div class="menu-item" (click)="logout()">
          <lucide-icon name="log-out" [size]="17"></lucide-icon>
          <p>Log Out</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
