:host {
  display: block;
  width: 100%;

  // @media screen and (max-width: 768px) {
  //   height: calc(100vh - 64px);
  // }
  .profile-settings {
    width: 100%;
    height: calc(100dvh - 64px); // header height
    padding-top: 20px; // ⬅ replace margin-top
    padding-bottom: 84px; // ⬅ replace margin-top
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      .head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        gap: 10px;
        lucide-icon {
          width: 30px;
          height: 30px;
          color: var(--icon-secondary);
          cursor: pointer;
          transition: background-color 0.3s ease;
          background-color: transparent;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: var(--primary);
          }
        }
        h2 {
          font-size: 24px;
          color: var(--text-primary);
        }
      }
      .settings-content {
        .loading {
          margin-top: 20px;
        }
      }
    }
  }
}
