<section>
  <div class="container">
    <div class="profile">
      <div class="cover-img">
        <img
          [src]="(userData?.coverPhotoUrl ? env.storageUrl + userData?.coverPhotoUrl : 'assets/icons/cover.png')"
          alt=""
        />
        @if (userData?.id == currentUserId) {
        <div class="settings-mobile">
          <div class="edit-cover" (click)="openUploadCoverModal()">
            <lucide-icon name="camera" [size]="16"></lucide-icon>
            <p>Edit Cover</p>
          </div>

          <div class="settings" #settingsWrapper (click)="toggleSettingsMenu()">
            <lucide-icon name="cog" [size]="22"></lucide-icon>

            <div
              class="settings-menu user-select-none"
              [class.active]="settingsMenu"
            >
              @if (userData?.id == currentUserId && userData?.role === 'Admin'
              || userData?.id == currentUserId && userData?.role === 'Owner') {
              <div class="menu-item" routerLink="/admin">
                <lucide-icon name="shield-user" [size]="17"></lucide-icon>
                <p>Admin Panel</p>
              </div>
              }
              <div class="menu-item" routerLink="/settings">
                <lucide-icon name="user-pen" [size]="17"></lucide-icon>
                <p>Edit Profile</p>
              </div>
              <div class="menu-item" (click)="shareProfile()">
                <lucide-icon name="share-2" [size]="17"></lucide-icon>
                <p>Share Profile</p>
              </div>
              <div class="menu-item" (click)="logout()">
                <lucide-icon name="log-out" [size]="17"></lucide-icon>
                <p>Log Out</p>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      <app-profile-info
        [userData]="userData"
        [followStats]="followStats"
        (followToggled)="onChildFollowToggled($event)"
      ></app-profile-info>
      <app-followers-counter
        [userData]="userData"
        [followStats]="followStats"
        (followToggled)="onChildFollowToggled($event)"
      ></app-followers-counter>

      @if (userData && userData !== null) { @if (userData.id.toString() ===
      currentUserId || userData.isPublicProfile ) {
      <div class="meta">
        <app-segmented-switcher
          [route]="profileRoute"
          [options]="['Posts', 'Photos', 'About']"
        ></app-segmented-switcher>

        <div class="meta-info">
          <router-outlet></router-outlet>
        </div>
      </div>
      } @else {
      <div class="privacy">
        <div class="isPrivate">
          <div class="info-row">
            <lucide-icon name="lock" [size]="17"></lucide-icon>
            <span>Profile is private</span>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>

  <app-modal
    title="Upload Cover Image"
    [isOpen]="isUploadCoverModalOpen"
    [isLoading]="isUploading"
    submitButtonText="Upload"
    (onClose)="closeUploadCoverModal()"
    (onSubmit)="uploadCoverImage()"
  >
    <div class="upload-modal-content">
      <div class="file-input-wrapper">
        <input
          #fileInput
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
        <button type="button" class="upload-button" (click)="fileInput.click()">
          <lucide-icon name="upload" [size]="32"></lucide-icon>
          <p>Click to select image</p>
          <div class="sizes">
            <small>Maximum image size: 5MB</small>
            <small>Minimum size: 1000x300</small>
          </div>
        </button>
      </div>

      @if (previewUrl) {
      <div class="preview-container">
        <img [src]="previewUrl" alt="Preview" />
        <button
          type="button"
          class="remove-preview-btn"
          (click)="fileInput.click()"
        >
          <lucide-icon name="pencil" [size]="16"></lucide-icon>
        </button>
      </div>
      } @if (userData?.coverPhotoUrl) {

      <div class="delete-section">
        <button
          type="button"
          class="delete-button"
          (click)="deleteCoverImage()"
          [disabled]="isUploading"
        >
          <lucide-icon name="trash-2" [size]="16"></lucide-icon>
          <span>Remove Current Cover</span>
        </button>
      </div>
      <div class="preview-container">
        <img [src]="env.storageUrl + userData?.coverPhotoUrl" alt="Preview" />
      </div>
      }
    </div>
  </app-modal>
</section>
