<div class="wrapper">
  @if (isLoading) {
  <app-spinner-loader></app-spinner-loader>
  } @else { @if (!userData?.isPublicProfile && userData?.id !== currentUserId) {
  <div class="isPrivate">
    <div class="info-row">
      <lucide-icon name="lock" [size]="17"></lucide-icon>
      <span>Profile is private</span>
    </div>
  </div>
  } @else { @for (posts of data; track $index) { @if (posts.imageUrl !== null &&
  posts.imageUrl !== '') {
  <div class="container">
    <img [src]="env.storageUrl + posts.imageUrl" alt="photo" />
    <div class="like-comment-count">
      <div class="item">
        <lucide-icon name="heart" [size]="20"></lucide-icon>
        <span>{{posts.likeCount}}</span>
      </div>
      <div class="item">
        <lucide-icon name="message-circle" [size]="20"></lucide-icon>
        <span>{{posts.commentCount}}</span>
      </div>
    </div>
  </div>
  } @else {
  <div class="empty-state">
    <lucide-icon name="image-off" [size]="28"></lucide-icon>
    <p>No posts with images found</p>
  </div>
  }} @empty {
  <div class="empty-state">
    <lucide-icon name="image-off" [size]="28"></lucide-icon>
    <p>No posts found</p>
  </div>
  } } }
</div>
