<section>
  <div class="container">
    <app-add-post (newPostCreated)="getNewPosts($event)"></app-add-post>
    @for (post of postData; track $index) {
    <app-post-card
      [postData]="post"
      (deletePostNewData)="getNewPosts($event)"
      (openEditPostModal)="toggleEditPostModal(post)"
      (openCommentModal)="toggleCommentModal($event)"
    ></app-post-card>

    } @if (isLoading) {
    <app-spinner-loader></app-spinner-loader>
    }
  </div>
</section>

@if (editPostModal && selectedPost) {
<app-edit-post-modal
  [postData]="selectedPost"
  [toggleEditPostModal]="closeEditPostModal"
  (postUpdated)="getAllPosts()"
></app-edit-post-modal>
} @if (commentModal && selectedCommentPost) {
<app-comment-modal
  [postData]="selectedCommentPost"
  [toggleCommentModal]="closeCommentModal"
></app-comment-modal>
}
