.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    width: 220px;
    height: 220px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.12s ease-in;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      transition: all 0.12s ease-in;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  app-spinner-loader {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
