:host {
  width: 100%;
  position: relative;
  lucide-icon {
    position: absolute;
    top: 14px;
    right: 12px;
    color: var(--text-unfocused);
    cursor: pointer;
  }
  input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--auth-input-border);
    padding: 0 12px;
    background-color: var(--auth-input-background);
    color: var(--text-color);
    &:focus {
      border: 2px solid var(--auth-input-focus);
    }
    &::placeholder {
      color: var(--text-unfocused);
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: var(--text-color) !important;
      -webkit-box-shadow: 0 0 0 1000px var(--auth-input-background) inset !important;
      box-shadow: 0 0 0 1000px var(--auth-input-background) inset !important;
    }

    &:-moz-autofill {
      -moz-text-fill-color: var(--text-color) !important;
      box-shadow: 0 0 0 1000px var(--auth-input-background) inset !important;
    }
    &.checkSuccess {
      border: 2px solid rgb(20, 187, 20);
    }
    &.checkError {
      border: 2px solid red !important;
    }
    &.default {
      border: 2px solid var(--auth-input-border);
    }
  }
}
