<input
  [type]="inputType"
  [value]="value"
  [placeholder]="placeholder"
  [attr.autocomplete]="autocomplete"
  [disabled]="disabled"
  (input)="handleInput($event)"
  (blur)="handleBlur()"
  [class]="className"
/>

@if (type === 'password' && showToggle) {
<span
  class="password-toggle"
  (click)="togglePasswordVisibility()"
  role="button"
  aria-label="Toggle password visibility"
>
  @if (!showPassword) {
  <lucide-icon name="eye" [size]="20"></lucide-icon>
  } @else {
  <lucide-icon name="eye-off" [size]="20"></lucide-icon>
  }
</span>

}
