<div class="post-card">
  <div class="post-header">
    <div class="user" (click)="goToUserProfile()">
      <div class="profile-avatar">
        <div class="avatar">
          <img
            [src]="(postData?.avatar ? env.storageUrl + postData?.avatar : 'assets/icons/profile.png')"
            alt="Avatar"
            loading="lazy"
          />
          <div
            class="statusIndicator"
            [class.active]="signalRService.isUserOnline(postData?.userId)"
          ></div>
        </div>
      </div>
      <div class="user-info">
        <h3 class="username">
          {{postData?.firstName + ' ' + postData?.lastName}}
        </h3>
        <p class="timestamp">
          {{'@' + postData?.username}} • {{postData?.createdAt |
          relativeTimePipe: 'default'}}
        </p>
      </div>
    </div>
    @if (postData?.userId === userService.getUser()?.data?.id) {
    <div
      class="postSettings"
      #settingsWrapper
      (click)="togglepostSettingsMenu()"
    >
      <div class="settings-icon">
        <lucide-icon name="settings-2" [size]="22"></lucide-icon>
      </div>
      <div class="post-settings-menu" [class.active]="postSettingsMenu">
        <div class="menu-item" (click)="toggleEditPostModal()">
          <lucide-icon name="pencil" [size]="17"></lucide-icon>
          <p>Edit</p>
        </div>
        <div class="menu-item" (click)="deletePost()">
          <lucide-icon name="trash" [size]="17"></lucide-icon>
          <p>Delete</p>
        </div>
      </div>
    </div>
    } @else {
    <div
      class="postSettings"
      #settingsWrapper
      (click)="togglepostSettingsMenu()"
    >
      <div class="settings-icon">
        <lucide-icon name="settings-2" [size]="22"></lucide-icon>
      </div>
      <div
        class="post-settings-menu user-select-none"
        [class.active]="postSettingsMenu"
        [class.admin-menu]="userService.getUser()?.data?.role === 'Admin' ||
          userService.getUser()?.data?.role === 'Owner'"
      >
        <div class="menu-item" (click)="reportPost()">
          <lucide-icon name="message-square-warning" [size]="17"></lucide-icon>
          <p>Report</p>
        </div>
        @if (userService.getUser()?.data?.role === 'Admin' ||
        userService.getUser()?.data?.role === 'Owner') {
        <div class="menu-item" (click)="toggleEditPostModal()">
          <lucide-icon name="pencil" [size]="17"></lucide-icon>
          <p>Edit ({{userService.getUser()?.data?.role}})</p>
        </div>
        } @if (userService.getUser()?.data?.role === 'Admin' ||
        userService.getUser()?.data?.role === 'Owner') {
        <div class="menu-item" (click)="deletePost()">
          <lucide-icon name="trash" [size]="17"></lucide-icon>
          <p>Delete ({{userService.getUser()?.data?.role}})</p>
        </div>
        }
      </div>
    </div>

    }
  </div>
  <div class="post-content">
    <p>{{postData?.content}}</p>
    @if (postData?.imageUrl) {
    <div class="img">
      @defer (on viewport) {
      <img
        class="post-image"
        [src]="env.storageUrl + postData?.imageUrl"
        alt="Post Image"
        loading="lazy"
      />
      } @placeholder {
      <div></div>
      }
    </div>
    }
  </div>
  <div class="post-actions">
    <div class="action">
      @if (userHasLiked) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="#ff0000"
        stroke="#ff0000"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-heart-icon lucide-heart"
        (click)="likePost()"
      >
        <path
          d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"
        />
      </svg>
      } @else {
      <lucide-icon
        name="heart"
        [size]="20"
        [absoluteStrokeWidth]="true"
        (click)="likePost()"
      ></lucide-icon>
      }

      <span>{{postData?.likeCount | formatNumber}}</span>
    </div>
    <div class="action" (click)="openCommentModalFn()">
      <lucide-icon name="message-circle" [size]="20"></lucide-icon>
      <span>{{postData?.commentCount | formatNumber}}</span>
    </div>
    <!-- <div class="action">
      <lucide-icon name="share" [size]="20"></lucide-icon>
      <span>{{1243 | formatNumber}}</span>
    </div> -->
  </div>
</div>
