@use "@ctrl/ngx-emoji-mart/picker" as *;
@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Fascinate+Inline&family=Knewave&family=Permanent+Marker&family=Rubik+Distressed&family=Rubik+Spray+Paint&family=Share+Tech&family=Tektur:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  overscroll-behavior: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  button,
  img,
  i {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  input {
    &::placeholder {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }
  textarea {
    &::placeholder {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }
}

html,
body {
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
  height: 100vh;
}

body {
  width: 100%;
  background: var(--auth-background);
  background-attachment: fixed;
  color: var(--text-color);
  position: relative;
  scrollbar-width: thin;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--auth-input-border);
  border-radius: 4px;
}

.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root[data-theme="light"] {
  --auth-background: linear-gradient(160deg, #f7f9fc 0%, #e1e8f0 100%);
  --auth-form-background: #fafafa;
  --text-color: #0f172a;
  --text-unfocused: #3e4b5f;
  --selector-active-background: #ffffff;
  --selector-background: #f1f5f9;
  --auth-input-focus: #3b82f6;
  --auth-input-background: #ffffff;
  --auth-input-border: #d1d5dc;
  --auth-form-border: transparent;
  --auth-form-button: linear-gradient(90deg, #7572ff 0%, #f1592a 100%);
  --primary: #f16849;
  --indicator-active: #22c55e;
  --indicator-inactive: #919191;
  --chat-hover-background: #d1d4d8;
}

:root[data-theme="dark"] {
  --auth-background: linear-gradient(160deg, #1e2a47 0%, #0e1629 100%);
  --auth-form-background: #1d293d;
  --text-color: #ffffff;
  --text-unfocused: #afb9c7;
  --selector-active-background: #475569;
  --selector-background: #334155;
  --auth-input-focus: #3b82f6;
  --auth-input-background: #334155;
  --auth-input-border: #475569;
  --auth-form-border: #ffffff;
  --auth-form-button: linear-gradient(90deg, #7572ff 0%, #f1592a 100%);
  --primary: #f16849;
  --indicator-active: #22c55e;
  --indicator-inactive: #919191;
  --chat-hover-background: #2c3e5a;
}
