.nav-top {
  width: 100vw;
  height: 64px;
  padding: 0 10px;
  background: color-mix(in srgb, var(--auth-form-background) 98%, transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    img {
      width: 44px;
      height: 44px;
    }
    h2 {
      color: var(--primary);
      margin: 0;
      font-size: 28px;
      font-family: "Permanent Marker", cursive;
      cursor: pointer;
    }
  }
  .switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    .item-top {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: var(--text-color);
      transition: 0.3s ease;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        color: var(--primary);
        background: color-mix(in srgb, var(--primary) 12%, transparent);
      }
    }
    lucide-icon {
      width: 20px;
      height: 20px;
    }
    app-theme-switcher {
      &:hover {
        color: var(--primary) !important;
      }
    }
  }
}
.nav-bottom {
  width: 100vw;
  height: 64px;
  padding: 0 10px;
  background: color-mix(in srgb, var(--auth-form-background) 98%, transparent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    .active-indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 34px;
      height: 3px;
      background-color: var(--primary);
      border-radius: 3px;
      transition: left 0.3s ease;
    }
  }
}

.item {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--text-color);
  transition: 0.3s ease;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  lucide-icon {
    width: 24px;
    height: 24px;
  }
  p {
    font-size: 14px;
  }
  &.active {
    color: var(--primary);
  }

  &:hover {
    color: var(--primary);
  }
}
