.admin-page {
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  @media screen and (max-width: 768px) {
    height: calc(100% - 64px);
  }
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;

    @media screen and (max-width: 768px) {
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title {
      display: flex;
      align-items: center;
      gap: 12px;
      h1 {
        margin: 0;
        font-size: 28px;
        color: var(--primary);
      }
      lucide-icon {
        color: var(--primary);
      }
    }
    .subtitle {
      margin: 0;
      color: var(--text-unfocused);
    }
  }

  .counter-wrapper {
    margin-top: 20px;
  }

  .switcher-wrapper {
    margin-top: 20px;
  }

  .router-wrapper {
  }
}
